/* ============================================= */
/*              Variables                        */
/* ============================================= */

$primary-color: #1867bf;
$secondary-color: #104e93;
$border-color: rgb(97, 97, 97);
$text-area-color: rgb(243, 243, 243);
$off-white: #f8f8ff;
$tertiary-color: #bfac18;
$accent-color: #bf183f;

$br-small: 768px;
$br-large: 1024px;