/* ============================================= */
/*              Variables                        */
/* ============================================= */

$primary-color: #1867bf;
$secondary-color: #104e93;
$tertiary-color: #e8e7e3;
$border-color: rgb(97, 97, 97);