/* ============================================= */
/*              Header                           */
/* ============================================= */

.main-header {
   height: 80px;
   background-color: $primary-color;
   display: grid;
   grid-template-columns: 3fr 1fr 180px;
   align-items: center;
   .notification {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;
      position: relative;
      .bell {
         height: 30px;
         transition: .8s ease-out;
         margin-right: 10px;
      }
      .bell:hover {
         animation: bell 1s ease-out forwards;
      }
   }
   .profile {
      display: flex;
      align-items: center;
      border-left: 2px solid rgb(97, 97, 97);
      padding-left: 15px;
      height: 50px;
      &-img {
         border-radius: 50%;
         height: 40px;
      }
      &-name {
         padding: 0 10px;
      }
   }
}

.app-name {
   margin-left: 15px;
}

.new-notifications {
   background: $tertiary-color;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   top: -5px;
   right: 15px;
}





