/* ============================================= */
/*              Layout                           */
/* ============================================= */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "main-header"
    "main-nav"
    "main-content";
}

.main-header {
    grid-area: main-header;
}

.main-nav {
    grid-area: main-nav;
}

.main-container {
    display: grid;
    grid-area: main-content;
}

.widget-container-full,
.widget-container-half {
    width: 95vw;
}