/* ============================================= */
/*              Members                          */
/* ============================================= */

.members-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $border-color;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    &:last-child {
        border-bottom: none;
    }
    .profile-combined {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .profile-image {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 30px;
        }
        .members-text {
            text-align: left;
            width: 75%;
        }
    }
}

.members,
.activity {
    h3 {
        margin-left: 15px;
    }
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(97, 97, 97);
    border-bottom: 2px solid rgb(97, 97, 97);
}

.activity {
    border-left: 2px solid rgb(97, 97, 97);
}