/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "main-header main-header"
        "main-nav main-content";
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-icon {
        height: 30px;
        margin-bottom: 30px;
    }
    .main-container {
        grid-template-columns: 50%;
    }
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }
    .daily,
    .users,
    .message {
        grid-column: 1 / span 1;
    }
    .mobile,
    .activity,
    .settings {
        grid-column: 2 / span 1;
    }
}