/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 80px 1fr;
        grid-template-areas: 
        "main-header main-header"
        "main-nav main-content";
    }
    .nav-list {
        flex-direction: column;
    }
    .nav-icon {
        height: 30px;
        margin-bottom: 30px;
    }
    .main-container {
        grid-template-columns: 50%;
    }

    .dashboard,
    .traffic,
    .social {
        grid-column: 1 / span 2;
    }
    .daily,
    
    .message {
        grid-column: 1 / span 1;
    }

    .members,
    .activity {
        grid-column: 1 / span 2;
    }

    .users,
    .mobile,
    .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 85vw;
    }
    .widget-container-half {
        width: 40vw;
    }
}

@media (min-width: 1024px) {
    .members {
        grid-column: 1 / span 1;
    }
    .activity {
        grid-column: 2 / span 1;
    }
    .social {
        flex-direction: row;
    }
}