/* ============================================= */
/*              Searchbar                        */
/* ============================================= */

.dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e7e3;
    border: 2px solid rgb(97, 97, 97);
}