/* ============================================= */
/*              Traffic                          */
/* ============================================= */

.traffic-header {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 300px;
}

.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}