/* ============================================= */
/*              Traffic                          */
/* ============================================= */

.traffic {
    margin-left: 15px;
}

.traffic-header {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 300px;
    .traffic-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        .traffic-nav-link {
            cursor: pointer;
        }
    }
}

.traffic,
.daily,
.users {
    display: flex;
    flex-direction: column;
}

.daily,
.users {
    border: 2px solid $border-color;
    padding: 15px;
}

.daily {
    border-right: none;
    border-left: none;
}

.users {
    border-right: none;
}

.widget-container-full,
.widget-container-half {
    align-self: center;
}

.active {
    color: #fff;
    background-color: $accent-color;
    border-radius: 10px;
    padding: 5px;
}