/* ============================================= */
/*              Typography                       */
/* ============================================= */

* {
    font-family: 'Varela Round', sans-serif;
}

.main-header {
    color: #fff;
}

.logo-light {
    font-weight: 100;
}

.social-text {
    p {
    font-family: 'Roboto', sans-serif;
    }
}